[submodule "external/KernelBench"]
	path = external/KernelBench
	url = git@github.com:j1mk1m/KernelBench.git
[submodule "external/verl"]
	path = external/verl
	url = git@github.com:volcengine/verl.git
