pyyaml
git+https://github.com/j1mk1m/llm_utils.git
dotenv
# KernelBench dependencies
together
google-genai
anthropic
transformers
datasets
tqdm
torch
numpy
openai
packaging
pydra_config
pytest
ninja
einops
# FlashInferBench dependencies
# flashinfer-bench
# matplotlib